@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');

.welcome-page{
    background-image: url("../images/graph.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    top: 0; bottom: 0;
    left: 0; right: 0;
    height: 100%;
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: row;
}
